@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CHIT-CHAT Chatter is an easy to use web app you can use to post messages, follow your friends and like THEIR messages!</p>
